tr:nth-child(odd){
    background-color: rgba(48, 172, 103, 0.5) !important;
    color: #fff !important;
}
th, tr:nth-child(even){
    background-color: #fff !important;
    color: rgba(48, 172, 103) !important;
}
tr:hover{
    background-color: #353435 !important;
    color: #fff !important;
}


.info-title{
    color:rgba(48, 172, 103);
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn.btn-search{
    background-color:rgba(48, 172, 103);
    color: #fff !important;
}

.btn.btn-cancel{
    background-color:red;
    color: #fff !important;
}